@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: Bold;
  src: local("OpenSans"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("ttf");
}

body,
p,
a,
ul,
li,
h4,
img,
h3,
address,
time {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "OpenSans";
}

.header {
  background-image: url(../images/banner-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 640px;
  position: relative;
}

.header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 640px;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  height: 9px;
}

.nav-list {
  display: none;
  margin-top: 32px;
  gap: 20px
}

.list {
  list-style-type: none;
  z-index: 2;
}

.list-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
}

.list-link:hover {
  border-bottom: 1px solid #fff;
}

.list-link-desktop {
  display: none;
}

.header-menu {
  z-index: 2;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menu-icon {
  background-color: #fff;
  width: 25px;
  height: 2px;
  margin-right: 16px;
}

.first-menu-icon {
  margin-top: 32px;
}

.header-radio {
  z-index: 2;
  display: none;
}

.header-radio:checked + .nav-list {
  display: flex;
}

.logo {
  z-index: 3;
  margin-top: 215px;
  display: flex;
  width: 75%;
  justify-self: center;
}

.main-logo {
  width: 100%;
}

.header-text {
  position: relative;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  width: 80%;
  justify-self: center;
  margin-top: 30px;
}

.logo-link {
  z-index: 5;
}

/* ----------------------------------------- */


.trends-header-text {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 38px;
}

.trends-header-text::after {
  content: '';
  display: block;
  height: 3px;
  background: #e1d9bd;
  width: 65px;
  justify-self: center;
  margin-top: 7px;
}

.trends-cards {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 25px;
}

.trends-card {
  min-height: 230px;
  height: 100%;
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.trends-card::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 230px;
  width: 100%;
  height: 100%;
}

.trends-border {
  border: 3px solid #7d7045;
  width: 100%;
  z-index: 5;
  padding: 30px 20px 27px 20px;
  box-sizing: border-box;
}

.container-category {
  display: flex;
  gap: 18px;
}

.trends-category {
  z-index: 2;
  font-weight: bold;
  list-style-type:  none;
}

.trends-category-link {
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
  font-size: 14px;
  z-index: 2;
}

.trends-category-link:hover {
  border-bottom: 2px solid #b59f5b;
}

.trends-titel {
  margin-top: 6px;
  line-height: 20px;
}

.trends-titel-link {
  font-size: 16px;
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 2;
}

.trends-titel-link:hover {
  color: #b59f5b;
}

.trends-card2 {
  min-height: 230px;
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-position: center;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.trends-card2::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 230px;
  width: 100%;
}

.trends-card3 {
  min-height: 230px;
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-position: center;
  padding: 15px;
  box-sizing: border-box;
}

.trends-card3::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 230px;
  width: 100%;
}

.trends-card4 {
  min-height: 230px;
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-position: center;
  padding: 15px;
  box-sizing: border-box;
}

.trends-card4::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 230px;
  width: 100%;
}

/* -----------------main------------------------------- */

.container {
  box-sizing: border-box;
  padding: 48px 15px 15px 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.card {
  border-bottom: 3px solid #eeeeee;
  padding-bottom: 20px;
}

.card-img {
  width: 100%;
}

.card-list {
  list-style-type: none;
  display: flex;
}

.card-lists {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.card-link {
  color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  font-weight: bold;
  margin-top: 4px;
}

.card-link:hover {
  border-bottom: 1px solid #b59f5b;
}

.card-text-title {
  margin-top: 7px;
  line-height: 20px;
}

.card-link-title {
  color: #0f0d0e;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.card-link-title:hover {
  color: #b59f5b;
}

.card-date {
  display: flex;
  gap: 13px;
  margin-top: 16px;
}

.card-time {
  font-size: 12px;
  color: #888888;
}

.card-author {
  font-weight: bold;
  font-size: 12px;
  font-style: normal;
}

.card-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  color: #0f0d0e;
  margin-top: 15px;
}

.second {
  margin-top: 5px;
}

/* --------sidebar------- */

.side-bar {
  width: 100%;
  margin-top: 35px;
}

.side-bar-post {
  position: relative;
}

.side-bar-title {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.side-bar-title::after {
  content: '';
  display: block;
  height: 3px;
  background: #e1d9bd;
  width: 65px;
  justify-self: center;
  margin-top: 7px;
}

.side-bar-card {
  display: flex;
  gap: 18px;
}

.side-bar-card:not(:first-child) {
  margin-top: 15px;
}

.side-bar-time {
  font-weight: normal;
  font-size: 12px;
  color: #888888;
}

.side-bar-text {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
}

.side-bar-text-link {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.side-bar-text:hover {
  color: #b59f5b;
  cursor: pointer;
}

.side-bar-card-image {
  margin-top: 7px;
  max-width: 70px;
  max-height: 70px;
}

/* -------------search------------------ */

.side-bar-search {
  margin-top: 58px;
}

.side-bar-search-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.side-bar-search-btn {
  position: absolute;
  background-image: url(../swg/search.svg);
  width: 49px;
  height: 49px;
  background-color: #b59f5b;
  top: 1px;
  left: 281px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 17px;
  border: 0;
}

.side-bar-search-btn:hover {
  background-color: #323232;
  border: 0;
  cursor: pointer;
}

.side-bar-search-lab {
  position: relative;
}

.side-bar-input {
  max-width: 284px;
  width: 100%;
  height: 50px;
  position: relative;
  background-color: #f4f7f6;
  border: 0;
  padding-left: 17px;
}

.side-bar-input:focus {
  height: 50px;
  outline-width: 1px;
  outline-color: #b59f5b;
  outline-style: solid;
  outline-offset: -2px;
  border-bottom: 2px solid #e1d9bd;
}

/* -----------------email---------------- */

.side-bar-email {
  margin-top: 38px;
}

.side-bar-email-title {
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 16px;
  position: relative;
  margin-bottom: 24px;
  justify-self: center;
}

.side-bar-email-title::after {
  content: '';
  display: block;
  height: 3px;
  background: #e1d9bd;
  width: 65px;
  justify-self: center;
  margin-top: 7px;
}

.side-bar-btn-text {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.side-bar-email-input {
  width: 100%;
  max-width: 308px;
  height: 50px;
  background-color: #f4f7f6;
  padding-left: 17px;
  border: 2px solid transparent;
}

.side-bar-email-input:focus {
  width: 100%;
  max-width: 308px;
  height: 50px;
  outline-width: 1px;
  outline-color: #b59f5b;
  outline-style: solid;
  outline-offset: -2px;
  border-bottom: 2px solid #e1d9bd;
}

.side-bar-submit-btn {
  width: 100%;
  max-width: 331px;
  height: 49px;
  border: 0;
  margin-top: 14px;
  background-color: #b59f5b;
}

.side-bar-submit-btn:hover {
  background-color: #323232;
  cursor: pointer;
}

/* ---------tag----------- */

.side-bar-tag {
  margin-top: 37px;
}

.side-bar-tag-title {
  font-size: 16px;
  position: relative;
  margin-bottom: 25px;
  justify-self: center;
  text-transform: uppercase;
}

.side-bar-tag-title::after {
  content: '';
  display: block;
  height: 3px;
  background: #e1d9bd;
  width: 65px;
  justify-self: center;
  margin-top: 7px;
  margin-left: -10px;
}

.side-bar-tag-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style-type: none;
}

.side-bar-tag-item {
  border: 3px solid #ededed;
  padding: 8px 12px 7px 12px;
  font-size: 11.99px;
  line-height: 10px;
}

.side-bar-tag-item:hover {
  border: 3px solid #b59f5b;
}

.side-bar-tag-link {
  font-weight: bold;
  font-size: 11.99px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

/* ----------------topics----------------- */

.side-bar-topics {
  position: relative;
  margin-top: 40px;
}

.side-bar-topics-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.side-bar-topics-title::after {
  content: '';
  display: block;
  height: 3px;
  background: #e1d9bd;
  width: 65px;
  justify-self: center;
  margin-top: 7px;
}

.side-bar-topics-lists {
  list-style-type: none;
}

.side-bar-lists-item {
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
  padding-top: 5px;
  padding-bottom: 15px;
}

.side-bar-lists-item:hover {
  color: #b59f5b;
}

.side-bar-item-number {
  font-size: 12px;
  color: #b59f5b;
  margin-left: 5px;
  font-weight: bold;
}

.side-bar-item-link {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  vertical-align: sub;
}

/* ----------shop--------------- */

.shop-container {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container-cards {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 40px;
}

.shop-title {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;  
}

.shop-title::after {
  content: '';
  display: block;
  height: 3px;
  background: #e1d9bd;
  width: 65px;
  justify-self: center;
  margin-top: 7px;

}

.shop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.shop-img {
  width: 100%;
  height: 100%;
}

.shop-content {
  outline: 3px solid #d3c59d;
  outline-offset: 20px;
  width: 100%;
  margin-top: -10px;
  z-index: 2;
  position: relative;
}

.shop-content-title {
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 25px;
}

.shop-text {
  font-size: 15px;
  margin-top: 2px;
  line-height: 22px;
}

.shop-text-link {
  text-decoration: none;
  color: #b59f5b;
}

.shop-text-link:hover {
  border-bottom: 2px solid #b59f5b;
}

.shop-price-btn {
  display: flex;
  flex-direction: row;
}

.shop-price-old {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
}

.shop-price-new {
  font-size: 20px;
  font-weight: bold;
  margin-top: -5px;
}

.shop-price-new-rabbit {
  margin-top: 40px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 20px;
}

.shop-btn {
  background-color: #b59f5b;
  margin-left: 30%;
  width: 141px;
  height: 49px;
  border: inherit;
  margin-top: 20px;
}

.shop-btn-rabbit {
  background-color: #b59f5b;
  margin-left: 25%;
  width: 141px;
  height: 49px;
  border: inherit;
  margin-top: 20px;
}

.shop-btn-rabbit:hover {
  background-color: #000;
}

.shop-btn-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.shop-btn:hover {
  background-color: #000;
}

/* ------------footer------------------ */

.footer {
 box-sizing: border-box;
 padding-left: 15px;
 padding-right: 15px;
  margin-top: 78px;
}

.footer-address {
  display: flex;
  padding-bottom: 32px;
  background-color: #f4f7f6;
  padding-top: 32px;
  margin-bottom: 40px;
}

.footer-lists {
  display: flex;
  list-style-type: none;
  gap: 26px;
  margin: auto;
}

.footer-list {
  display: block;
}

.footer-link-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.footer-list-link {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../swg/001-dribbble.svg);
}

.footer-list-link2 {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../swg/001-pinterest.svg);
}

.footer-list-link3 {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../swg/004-twitter.svg);
}

.footer-cop {
  display: flex;
  justify-self: center;
  font-weight: bold;
  color: #999999;
  font-size: 12px;
  /* margin-left: 18%; */
}

.footer-cop-link {
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

/* ----------------popup--------------- */

.popup {
  margin-top: 55px;
  max-width: 330px;
  height: 560px;
  padding-left: 25px;
  padding-right: 30px;
  position: relative;
  background-color: #fff;
  /* overflow-y: scroll; */
  margin-bottom: 50px;
}

.popup-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 10;
}

.popup-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  margin-bottom: 35px;
}

.popup-title::after {
  content: '';
  display: block;
  height: 3px;
  background: #e1d9bd;
  width: 65px;
  justify-self: center;
  margin-top: 7px;
}

.popup-label-visit {
  margin-left: 25px;
  font-size: 13px;
  font-weight: Normal;
}

.popup-select {
  margin-top: 8px;
  max-width: 290px;
  width: 84.4%;
  margin-left: 30px;
  height: 50px;
  font-size: 13px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 15px;
  background-color: #f4f7f6;
  color: rgba(0, 0, 0, 0.541);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../swg/form-arrows.svg);
  background-size: 9px 18px;
  background-repeat: no-repeat;
  background-position: 94% 50%;
  border: transparent;
}

.popup-select:focus {
  border: 1px solid #b59f5b;
}

.text-email {
  font-size: 13px;
  font-weight: normal;
  margin-top: 28px;
  margin-left: 25px;
}

.radio-container {
  display: flex;
  gap: 38px;
  margin-left: 25px;
  margin-top: 5px;
}

.subscribe-text {
  font-size: 13px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio-btn .subscribe-text::before {
  content: "";
  background-image: url(../swg/form-empty-circle.svg);
  height: 25px;
  width: 25px;
  position: absolute;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  left: -30px;
  bottom: -5px;
}

.radio-btn .input-email:checked + .subscribe-text::before {
  background-image: url(../swg/form-circle.svg);
}


.story-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 35px;
  margin-left: 25px;
}

.popup-area {
  height: 110px;
  background-color: #f4f7f6;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
  resize: none;
  padding-top: 20px;
  padding-left: 22px;
  font-size: 13px;
  font-weight: normal;
  font-family: "OpenSans";
  border: inherit;
}

.area-container {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: normal;
}

.submit-btn {
  min-width: 280px;
  max-width: 100%;
  height: 49px;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #fff;
  border: inherit;
  margin-bottom: 30px;
}

.submit-btn:hover {
  background-color: #323232;
}

.popup-triger-container {
  margin-top: 20px;
}

.triger:checked + .popup-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.triger-text-close {
  position: absolute;
  top: -43px;
  left: 330px;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
}

.popup-close-btn {
  position: absolute;
    padding: 0;
    font-size: 0;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    top: -30px;
    left: 330px;
    background-size: 25px;
    background-image: url(../swg/cross-symbol_icon-icons.com_74149.svg);
}


.triger-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #b59f5b;
  margin: 50px;
  border-radius: 8px;
  color: #fff;
  
}

/* ---------------media-request------------- */

@media (orientation: landscape) {

  @media (max-width: 640px) {
    .trends-cards {
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
    }
  
    .trends-card {
      width: calc(50% - 1.5px);
    }
  
    .trends-card2 {
      width: calc(50% - 1.5px);
    }
  
    .trends-card3 {
      width: calc(50% - 1.5px);
    }
  
    .trends-card4 {
      width: calc(50% - 1.5px);
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) {

  .trends-cards {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .container-category {
    flex-wrap: wrap;
  }

  .trends-card {
    width: calc(25% - (9px / 4));
  }

  .trends-card2 {
    width: calc(25% - (9px / 4));
  }

  .trends-card3 {
    width: calc(25% - (9px / 4));
  }

  .trends-card4 {
    width: calc(25% - (9px / 4));
  }
}
}


@media (min-width: 641px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    min-height: 390px;
  }

  .header::after {
    min-height: 390px;
  }

  .logo {
    width: 158px;
    margin-top: 35px;
    margin-left: 35px;
    justify-self: start;
  }

  .header-text {
    width: 80%;
    margin-left: 80x;
    margin-top: 85px;
    font-size: 40px;
  }

  .header-menu {
    margin-right: 20px;
    margin-top: 20px;
  }

  /* ----------trend------------ */

  .trends-header-text {
    font-size: 18px;
    margin-top: 45px;
  }

  .trends-header-text::after {
    top: 470px;
    left: 46%;
  }

  .trends-cards {
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trends-card {
    min-height: 245px;
    width: calc(50% - 1.5px);
  }

  .trends-card2 {
    min-height: 245px;
    width: calc(50% - 1.5px);
  }

  .trends-card3 {
    min-height: 245px;
    width: calc(50% - 1.5px);
  }

  .trends-card4 {
    min-height: 245px;
    width: calc(50% - 1.5px);
  }

  .trends-border {
    padding: 30px 35px 25px 35px;
  }


  .trends-titel {
    margin-top: 6px;
    line-height: 22px;
    max-width: 244px;
  }

  .main-container {
    box-sizing: border-box;
    gap: 44px;
    width: calc(100% - 270px - 35px);
    padding: 5px 20px 5px 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .card-text-title {
    line-height: 22px;
    font-size: 17px;
  }

  .card-link-title {
    font-size: 17px;
  }

  .card-date {
    margin-top: 32px;
  }

  .card-text {
    margin-top: 30px;
    font-size: 15px;
  }

  .second {
    margin-top: 14px;
  }

  /* --------sidebar------- */

  .side-bar {
    width: 270px;
    margin-top: 5px;
  }

  .side-bar-title {
    font-size: 14px;
  }


  /* -------------search------------------ */
  .side-bar-search-btn {
    top: 1px;
    left: 220px;
  }

  .side-bar-input {
    padding-left: 15px;
  }

  /* -----------------email---------------- */

  .side-bar-email {
    margin-top: 55px;
  }

  .side-bar-email-title {
    font-size: 14px;
    position: relative;
    margin-bottom: 20px;
  }

  .side-bar-email-input {
    margin-top: 5px;
    height: 47px;
  }

  .side-bar-email-input:focus {
    height: 47px;
  }

  .side-bar-submit-btn {
    min-width: 270px;
  }

  .side-bar-tag {
    margin-top: 55px;
  }

  .side-bar-tag-title {
    font-size: 14px;
  }

  /* ----------------topics----------------- */

  .side-bar-topics {
    margin-top: 58px;
  }

  .side-bar-topics-title {
    font-size: 14px;
    margin-bottom: 13px;
  }


  .side-bar-topics-lists {
    list-style-type: none;
  }

  /* ----------shop--------------- */

  .shop-title {
    font-size: 18px;
  }

  .container-cards {
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
  }

  .shop-card {
    width: calc(50% - 10px);
  }

  .shop-card:nth-child(n+3) {
    margin-top: 35px;
  }

  .shop-img {
    object-fit: contain;
    height: 100%;
    width: 100%;

  }

  .shop-content {
    flex-grow: 1;
  }

  .footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
  }
}

@media (min-width: 1201px) {

  .header {
    background-image: url(../images/banner-bg.jpg);
    width: 100%;
    min-height: 450px;
  }

  .header-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    margin-right: 250px;
    margin-top: 38px;
    gap: 34px;
  }

  .list-link-desktop {
    display: flex;
    margin-top: 2px;
  }

  .logo {
    margin-top: 20px;
    width: 180px;
    margin-left: 15%;
  }

  .header-text {
    font-size: 45px;
    max-width: 690px;
    margin-top: 100px;
    line-height: 75px;
  }

  /* ------------------trend----------------------- */

  .trends-header-text {
    font-size: 20px;
    margin-top: 55px;
  }

  .trends-cards {
    margin-top: 33px;
  }

  .trends-card {
    width: calc(25% - (9px / 4));
    min-height: 320px;
  }

  .trends-card2 {
    width: calc(25% - (9px / 4));
    min-height: 320px;
  }

  .trends-card3 {
    width: calc(25% - (9px / 4));
    min-height: 320px;
  }

  .trends-card4 {
    width: calc(25% - (9px / 4));
    min-height: 320px;
  }

  .trends-card::after {
    min-height: 320px;
    width: 100%;
  }

  .trends-border {
    padding: 30px 5px 35px 40px;
  }

  .trends-titel {
    line-height: 24px;
    min-width: 90%;
  }

  .trends-titel-link {
    font-size: 19.99px;
    line-height: 24px;
  }

  /* -----------------main------------------------------- */

  .main-container {
    width: calc(100% - 270px - 130px); 
    gap: 35px;
    padding: 0;
    padding-top: 15px;
  }

  .container {
    justify-self: center;
    gap: 130px;
    max-width: 1200px;
  }

  .card {
    display: flex;
    gap: 30px;
    border: none;
  }

  .card-link {
    margin: 0;
    font-size: 14px;
  }

 
  .card-link-title {
    font-size: 20px;
  }

  .card-text {
    margin-top: 45px;
  }

  .second {
    margin-top: 15px;
  }

  /* --------sidebar------- */

  .side-bar {
    margin-top: 7px;
    width: 270px;
  }

  /* -------------search------------------ */

  /* ---------tag----------- */

  .side-bar-tag-title {
    margin-left: 20px;
  }

  /* ----------------topics----------------- */

  .side-bar-topics {
    margin-top: 60px;
  }

  /* ----------shop--------------- */

  .shop-container {
    margin-top: 15px;
    padding-left: 225px;
    padding-right: 225px;
  }

  .container-cards {
    flex-direction: row;
    gap: 70px;
    margin-top: 30px;
    padding-right: 0px;
  }

  .shop-title {
    margin-top: 25px;
    font-size: 20px;
  }

  .shop-price-btn {
    margin-right: 0px;
  }

  .shop-card {
    width: calc(33% - (70px * 2) / 3);
  }


  .shop-content-title {
    font-size: 20px;
    line-height: 24px;
  }

  .shop-card:nth-child(n+3) {
    margin-top: 0px;
  }
}
